@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

a {
  text-decoration: none;
  color: #666;
  padding: 20px;
  border-radius: 34px;
  background: #e0e0e0;
  box-shadow: 16px 16px 18px #5a5a5a, -16px -16px 18px #ffffff;
  transition: 0.25s;
  font-family: "Nunito", sans-serif;
}

a:hover {
  transform: scale(0.95);
}
