@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

button {
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  /* background-color: red; */
}

.forms-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  padding: 20px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field input {
  padding: 5px 2px;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.form-field input.error {
  border-bottom-color: #ce2916;
}

.form-field input.ok {
  border-bottom-color: #2ecc71;
}

.error-msg {
  font-size: 12px;
  color: red;
  max-width: 100%;
}

.multi-column-field {
  display: flex;
  gap: 8px;
}

.country-code {
  width: 15%;
}

.phone-number {
  width: 100%;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.submit-container button {
  border: none;
  background-color: #e74c3c;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.submit-container button.disabled {
  opacity: 0.3;
  cursor: default;
}

.submit-container button:hover {
  background-color: #ce2916;
}

.form-sider {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.sider-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e74c3c;
  height: 85%;
  text-align: center;
  color: white;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sider-top {
  margin-top: 20px;
}

.sider-top h3 {
  margin-bottom: 10px;
}

.sider-bottom {
  margin-bottom: 20px;
}

.sider-bottom p {
  margin-bottom: 20px;
}

.sider-bottom button {
  border: 1px solid #ce2916;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.sider-bottom button:hover {
  background-color: #ce2916;
}

.form-field label {
  display: block;
}
