* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  height: 100px;
  top: 0;
}

header img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 50%;
  height: 50%;
}

.img-container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
